@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  
.main-btn {
  background-color: #027eb0;
  color: white;
  text-align: center;
  font-size: small;
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
}
.main-btn:hover {
  background-color: #026c97;
}
.light-btn {
  background-color: white;
  color: #027eb0;
  text-align: center;
  font-size: small;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}
.light-btn:hover {
  background-color: #e9edf8;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}